 body {
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    font-family: 'Roboto', serif;
    font-size: 16px;
}

.active {
    border-bottom: 2px solid green;
}

.navbar-brand {
    color: green;
}
.navbar-brand:hover {
    color: #49882F;
}